@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    /*background-image: ; colocar uma imagem depois*/
}

a {
    text-decoration: none;
    color: rgb(14, 14, 14);
}

header {
    background-color: #034aa3;
    height: 60px;
    padding: 10px;
}

header h1 {
    padding-left: 10px;
}

#burguer {
    position: fixed;
    top: 13px;
    right: 10px;
    font-size: 35px;
    color: white;
}

.menu-hamburguer-scroll {
    background-color: #d4d4d4;
    padding: 5px;
    border-radius: 15px;
    animation: mudar-cor 0.5s ease-in-out;
}

@keyframes mudar-cor {
    from { background-color: #034aa3; }
    to { background-color: #d4d4d4; }
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    background-color: #022146;
}

.coluna {
    justify-self: center;
    align-self: center;
}

.tecnologiasBox {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 80px;
    border: 2px solid;
    width: 300px;
    height: 400px;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: #3c7ac6;
    box-shadow: 3px 5px 12px 1px rgba(0, 0, 0, 0.363);
    overflow: hidden;
}

.tecnologiasBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom right, #f7df1e, #e98f28);
    opacity: 0.7;
    z-index: 1;
}

.tecnologiasBox h2 {
    grid-column: 1;
    font-size: 2.5em;
    grid-row: 1;
}

.tecnologiasBox p {
    align-self: flex;
    grid-row: 2;
}

.saibaMaisButton {
    grid-row: 3;
    display: grid;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background-color: #e7c224;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    border: 3px solid #e7c224;
    position: relative;
}

.saibaMaisButton a {
    color: #034aa3;
}

.saibaMaisButton:hover a {
    color: #034aa3;
}

footer a {
    background-color: #034aa3;
    height: 60px;
}
