@charset "UTF-8";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  width: 100vw;
  height: 100vh;
  
}

header{
  background-color: #034aa3;
  padding: 10px;
}

#maintxt{
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 440px;
  
}

h2.txtmain{
  font-size: 3em;
  font-variant: small-caps;
}

.ptxtmain{
  line-height: 1.5em;
  text-align:justify;
}

.button{
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  width: 155px ;
  height: 53px;
  text-align: center;
  margin-top: 30px;
}

.mission{
  margin-right: 60px;
  margin-left: 10px;
}

.button > a{
  display: inline-block;
  margin-top: 8px;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
}

#burguer{
  position: absolute;
  left: 93vw;
  top: 3vh;
  color: white;
}

#arrow{
  position: absolute;
  left: 85vw;
  /*top: 90vh;*/

}