@charset  "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
}

header{
    background-color: #034aa3;
    padding: 10px;
    height: 60px;
}

#burguer{
    position: fixed;
    top: 13px;
    right: 10px;
    color: white;
    font-size: 35px;
}

.menu-hamburguer-scroll {
    background-color: #d4d4d4;
    padding: 5px;
    border-radius: 15px;
    animation: mudar-cor 0.5s ease-in-out;
}

.fundo-img {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-shadow: 3px 2px 20px 7px rgba(0, 0, 0, 0.565);;
}

#arrow-down{
    font-size: 65px;
    grid-row: 2;
   
}

.fundo-img > h2{
    font-size: 4em;
    font-variant: small-caps;
  
}

.fundo-img > p{
    padding: 40px;
    font-size: 1.7em;
    font-weight: bolder;
    line-height: 1.6em;
}

.fundo-clear{
    height: 100%;
    padding: 40px;
    font-size: 1.7em;
    font-weight: bolder;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img1{
    background: rgb(255, 255, 255) url(../imagens/quemsomos.png) no-repeat bottom center fixed;
    background-size: cover;
}

.img2{
    background: white url(../imagens/pessoas\ conversando.png) no-repeat  center center fixed ;
    background-size: cover;
}

.img3{
    background: white url(../imagens/escritorio1.png) no-repeat  center center fixed ;
    background-size: cover;
}

.button{
    background-color: #e7c224;
    padding: 15px;
    border-radius: 20px;
    color: #034aa3;
}

.palavra-final{
    color: #e7c224;
    font-size: 1.5em;
    font-family: ;
}

strong{
    color: #c2daff
}

@keyframes mudar-cor {
    from {background-color: #034aa3;}
    to {background-color: #d4d4d4;}
  }
  