@charset  "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
}

header{
    background-color: #034aa3;
    padding: 10px;
    height: 60px;
}

#burguer{
    position: fixed;
    top: 13px;
    right: 10px;
    color: white;
    font-size: 35px;
}

.menu-hamburguer-scroll {
    background-color: #d4d4d4;
    padding: 5px;
    border-radius: 15px;
    animation: mudar-cor 0.5s ease-in-out;
}

.fundo-img{
    height: 400px;
    color: white;
}

.fundo-clear{

}

.img1{
    background: black url(../imagens/quem_somos.jpg) no-repeat center center;
    background-size: cover;
    
}

@keyframes mudar-cor {
    from {background-color: #034aa3;}
    to {background-color: #d4d4d4;}
  }
  