@charset "UTF-8";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body{
  width: 100vw;
  height: 100vh;
  
}

body{
  background: black url(../imagens/backmainn2.png) no-repeat fixed ;
  background-size: cover;
  
}

a{
  text-decoration: none;
}

header{
  position: fixed;
  background-color: #034aa3;
  padding: 10px;
  width: 100vw;
}

header h1{
  padding-left: 5px;
}

#maintxt{
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  color: white;
}

.yell{
  color: #ffffa3;
}

h2.txtmain{
  font-size: 3em;
  font-variant: small-caps;
}

.ptxtmain{
  line-height: 1.5em;
  text-align:justify;
  text-shadow: 4px 4px 10px black;
}

.btt{
  position: relative;
  margin-top: 20px;
}

.misson {
  position: absolute;
  top: 0;
}

.tecnology{
  position: absolute;
  top: 140%;
  left: 3.7%;
}


.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7c224;
  border-radius: 20px;
  width: 255px ;
  height: 53px;
  text-align: center;
  /*&margin-top: 30px;*/
  background-color: #e7c224;
}

.button:hover{
  box-shadow: 3px 3px 15px #034ba387;
}

.button > a {
  color: #034aa3;
}

.mission{
  margin-right: 60px;
  margin-left: 10px;
}

.button > a{
  display: inline-block;
  margin-top: 8px;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
}

#chatbot{
  position: absolute;
  top: 530px;
  left: 30px;
  color: white;

}

#chatbot > h2{
  font-size: 2em;
  line-height: 1.2em;
}

footer{
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #034aa3;
  width: 100%;
  height: 50px;
}



footer > p{
  font-size: 1.3em;
  color: white;
}

#burguer{
  position: absolute;
  left: 93vw;
  top: 2.5vh;
  color: white;
}

#arrow{
  padding: 15px;
  color: #e7c224;
}